@using MyBlog.Web.Models.AccountViewModels
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0">
    <section id="loginForm">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row control-group">
                <div class="form-group col-xs-8 floating-label-form-group controls">
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control left-text", placeholder = "نام کاربری" } })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-8 floating-label-form-group controls">
                    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control left-text", placeholder = "رمز عبور" } })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-3 floating-label-form-group controls" style="margin-right:41.5%; padding-top: 30px;">
                    @Html.CheckBoxFor(m => m.RememberMe, new { placeholder = "" })
                    <span>مرا به خاطر بسپار</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-xs-8">
                    @*<a href="@Url.Action("ForgotPassword")">رمز عبور را فراموش کردە ام</a>*@
                    <button type="submit" class="btn btn-default pull-left">ورود</button>
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}