@model MyBlog.Domain.ContactMessageEntity

@section header {
    @Html.GenerateMetaTag(
        "محسن اسماعیل پور, Mohsen Esmailpour, بلاگ من, .net, c#, asp.net mvc, entity framework, javascript, jquery, web api",
                "I'm newbie software developer with a particular interest in web technologies and creating web application with Microsoft technologies.",
        true, true, "محسن اسماعیل پور (http://www.mohsen.es)")
    @Styles.Render("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    @Styles.Render("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
}

@{
    ViewBag.Title = "تماس";
}

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <p><i class="fa fa-envelope-o"></i> info [at] mohsen [dot] es</p>
    <p><i class="fa fa-send-o"></i> برای ارتباط با من میتوانید از فرم زیر استفاده نمایید.</p>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @Html.ValidationSummary()
        </div>
    }

    @if (TempData["Successful"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>با تشکر پیام شما با موفقیت ثبت شد.</strong>
        </div>
    }

    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row control-group">
            <div class="form-group col-xs-8 floating-label-form-group controls">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control type-direction", placeholder = "نام" } })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-8 floating-label-form-group controls">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control left-text", placeholder = "ایمیل" } })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                @Html.LabelFor(m => m.Message)
                @Html.EditorFor(m => m.Message, new { htmlAttributes = new { @class = "form-control type-direction auto-size", placeholder = "پیام" } })
                @Html.ValidationMessageFor(m => m.Message, null, new { @class = "text-danger" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-default pull-left">ارسال</button>
            </div>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.autosize.js")
}