@model MyBlog.Web.Models.HomeViewModel
@using MyBlog.Common.Extensions;

@section header{
    @Html.GenerateMetaTag(
        "محسن اسماعیل پور, Mohsen Esmailpour, بلاگ من, .net, c#, asp.net mvc, entity framework, javascript, jquery, web api",
                "I'm newbie software developer with a particular interest in web technologies and creating web application with Microsoft technologies.",
        true, true, "محسن اسماعیل پور (http://www.mohsen.es)")
}
@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="col-lg-3 col-md-2 ">
    <div id="tagList">
        <h3>تگها</h3>
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li><a href="@Url.Action("PostsByTag", "Post", new {slug = tag.Slug})">@tag.Name</a></li>
            }
        </ul>
    </div>
</div>

<div class="col-lg-8 col-lg-offset-0 col-md-9 col-md-offset-0">
    @foreach (var post in Model.Posts)
    {
        <div class="post-preview">
            <a href="@Url.Action("PostDetail", "Post", new { id = post.Id, slug = post.Slug })">
                <h2 class="post-title">
                    @post.Title
                </h2>
                <div class="post-subtitle">
                    @Html.Raw(post.Content.TruncateHtml(350, "..."))
                </div>
            </a>
            <p class="post-meta">
                <a><i class="glyphicon glyphicon-calendar"></i></a>&nbsp;<span class="date">@post.CreateDate.ToJalaliDateTimeFullString().ToPersianDigits()</span> <span class="divider-vertical"></span>
                <a><i class="glyphicon glyphicon-comment"></i></a>&nbsp;&nbsp;<span class="disqus-comment-count" data-disqus-identifier="@post.Id"></span> <span class="divider-vertical"></span>
                <a> <i class="glyphicon glyphicon-tag"></i></a>&nbsp;
                @*<span dir="ltr">@post.Tags.Aggregate(string.Empty, (current, tag) => current + (", " + tag)).TrimStart(',')</span>*@
                <span>
                    @foreach (var tag in post.Tags)
                    {
                        <a href="@Url.Action("PostsByTag", "Post", new { slug = tag.Slug })">@tag.Name</a><text>&nbsp;</text>
                    }
                </span>
            </p>
        </div>
        <hr />
    }

    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="#">پست های قدیمی تر &rarr;</a>
        </li>
    </ul>
</div>

@section scripts {
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mohsenes'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
}