@using MyBlog.Infrastructure.Extensions
@model HomeViewModel

@section header{
    <meta name="keyword" content="محسن اسماعیل پور, Mohsen Esmailpour, بلاگ من, .net, c#, asp.net mvc, asp.net core, entity framework, entity framework core, javascript, jquery, web api" />
    <meta name="description" content="I'm newbie software developer with a particular interest in web technologies and creating web application with Microsoft technologies." />
}

@{
    ViewData["Title"] = "صفحه اصلی";
}

<vc:tags></vc:tags>

<div class="col-lg-8 col-lg-offset-0 col-md-9 col-md-offset-0">
    @foreach (var post in Model?.Posts)
    {
        <div class="post-preview">
            <a asp-controller="Posts" asp-action="PostDetail" asp-route-year="@post.CreateDate.Year" asp-route-month="@post.CreateDate.Month" asp-route-day="@post.CreateDate.Day" asp-route-slug="@post.Slug">
                <h2 class="post-title">
                    @post.Title
                </h2>
                <div class="post-subtitle">
                    @Html.Raw(post.Content.TruncateHtml(350, "..."))
                </div>
            </a>
            <p class="post-meta">
                <a><i class="glyphicon glyphicon-calendar"></i></a>&nbsp;<span class="date">@post.CreateDate.ToJalaliDateTimeFullString().ToPersianDigits()</span> <span class="divider-vertical"></span>
                <a><i class="glyphicon glyphicon-comment"></i></a>&nbsp;&nbsp;<span class="disqus-comment-count" data-disqus-identifier="@post.Id"></span> <span class="divider-vertical"></span>
                <a> <i class="glyphicon glyphicon-tag"></i></a>&nbsp;
                <span>
                    @foreach (var tag in post.PostTags.Select(pt => pt.Tag))
                    {
                        <a asp-action="PostsByTag" asp-controller="Posts" asp-route-slug="@tag.Slug">@tag.Name</a>
                        <text>&nbsp;</text>
                    }
                </span>
            </p>
        </div>
        <hr />
    }

    <!-- Pager -->
    @if (Model?.TotalPosts > 5)
    {
        <ul class="pager">
            @if (Model.CurrentPage != 1)
            {
                var next = Model.CurrentPage - 1;
                <li class="next">
                    <a asp-action="Index" asp-route-page="@next">پست های جدیدتر &larr;</a>
                </li>
            }
            @if (Model.CurrentPage != Model.TotalPage)
            {
                var prev = Model.CurrentPage + 1;
                <li class="previous">
                    <a asp-action="Index" asp-route-page="@prev">پست های قدیمی تر &rarr;</a>
                </li>
            }
        </ul>
    }
</div>

@section Scripts {
    <script id="dsq-count-scr" src="//mohsenes.disqus.com/count.js" async></script>
}