@model MyBlog.Web.Models.ForgotPasswordViewModel
@section header {
    @Html.GenerateMetaTag("", "", false, false)
}

@{
    ViewBag.Title = "بازآوری رمز عبور";
}

<div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0">
    <h2>بازآوری رمز عبور</h2>
    <p>ایمیل خود را وارد نمایید</p>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <div class="row control-group">
            <div class="form-group col-xs-8 floating-label-form-group controls">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control left-text", placeholder = "ایمیل" } })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-xs-8">
                <button type="submit" class="btn btn-default pull-left">ارسال</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}