@model IEnumerable<MyBlog.Domain.ContactMessageEntity>

@{
    ViewBag.Title = "لیست پیامها";
}

@section ContentHeader
{
    <h2>لیست پیامها</h2>
}

<div class="mailbox">
    <div class="col-md-10">
        <div class="box box-solid col-sm-9">
            <div class="row pad">
                <div class="col-sm-6">
                    <label style="margin-left: 10px;">
                        <input type="checkbox" id="check-all" />
                    </label>
                    <!-- Action button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="notNewButton">نشانه دار کردن خوانده شده</a></li>
                            <li><a href="#" id="isNewButton">نشانه دار کردن جدید</a></li>
                            @*<li class="divider"></li>
                                <li><a href="#">Move to junk</a></li>
                                <li class="divider"></li>*@
                            <li><a href="#" id="deleteButton">حذف</a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-sm-6 search-form">
                    <form action="#" class="text-left">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="جستجو">
                            <div class="input-group-btn">
                                <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>*@
            </div>
            <div class="table-responsive">
                <table class="table table-mailbox">
                    <thead>
                        <tr>
                            <th></th>
                            <th>نام</th>
                            <th>ایمیل</th>
                            <th>متن پیام</th>
                            <th>زمان</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var message in Model)
                        {
                            var className = message.IsNew ? "unread" : "";
                            <tr class="@className">
                                <td class="small-col"><input type="checkbox" class="delete-box" data-id="@message.Id" value="@message.Id" /></td>
                                <td class="name">@message.Name</td>
                                <td class="name">@message.Email</td>
                                <td class="subject"><a href="@Url.Action("Detail", new {id = message.Id})">@Html.TurncateString(message.Message, 50)</a></td>
                                <td class="time">@message.CreateDate.TimeAgo()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirmModalLabel">حذف پیام</h4>
            </div>
            <div class="modal-body">
                <p>آیا مطمئن هستید که این پیامها حذف شوند ؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelButton" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" id="confirmButton">بله</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmModal2" tabindex="-1" role="dialog" aria-labelledby="confirmModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirmModal2Label">حذف پیام</h4>
            </div>
            <div class="modal-body">
                <p>‌هیچ پیامی انتخاب نشده است.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelButton" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            helper.initialContactMessagePage();
        });
    </script>
}