@model MyBlog.Domain.PostEntity

@{
    ViewBag.Title = "ایجاد مقاله جدید";
}

@section ContentHeader
{
    <h2>ایجاد مقاله</h2>
}

<div class="col-md-10">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="box box-primary">
        @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                @Html.EditorFor(model => model.IsEnabled)
                            </label>
                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="box-footer">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
            </div>
        }
    </div>

    <div>
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Areas/Admin/Scripts/ckeditor/ckeditor.js")
    <script>
        CKEDITOR.replace('@Html.IdFor(m => m.Content)', {
            filebrowserImageUploadUrl: '@Url.Action("UploadImage", "Base")'
        });
    </script>
}