<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="fa">
    <title>@ViewBag.Title - بلاگ من</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    @Styles.Render("~/content/css")
    @if (!string.IsNullOrWhiteSpace(Session["OsSpecificCss"].ToString()))
    { @Styles.Render(Session["OsSpecificCss"].ToString()) }
    @RenderSection("header", false)
    <script data-pace-options='{ "ajax": false }' src="~/Scripts/pace.min.js" async defer></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body dir="rtl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">بلاگ من</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/">صفحه اصلی</a> </li>
                    <li> <a href="@Url.Action("About", "Home")">درباره</a> </li>
                    <li> <a href="@Url.Action("Contact", "Home")">تماس</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color: black">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{ code }</h1>
                        <hr class="x-small">
                        <span class="subheading">for fun</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">&copy; @DateTime.Now.GetJalaliYear().ToString().ToPersianDigits() Mohsen.es </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap-rtl.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/startup.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>