@model MyBlog.Domain.PostEntity
@{
    ViewBag.Title = Model.Title;
}
@section header {
    @Styles.Render("~/content/syntaxhighlighter")
    @Styles.Render("~/content/prism.css")
}

<h2>@Model.Title</h2>

@Html.Raw(Model.Content)

<p class="post-meta">
    <a><i class="glyphicon glyphicon-calendar"></i></a>&nbsp;<span class="date">@Model.CreateDate.ToJalaliDateTimeFullString().ToPersianDigits()</span> <span class="divider-vertical"></span>
    <a> <i class="glyphicon glyphicon-tag"></i></a>&nbsp;
    <span dir="ltr">@Model.Tags.Aggregate(string.Empty, (current, tag) => current + (", " + tag.Name)).TrimStart(',')</span>
</p>

@section scripts
{
    @Scripts.Render("~/bundles/syntaxhighlighter")
    @Scripts.Render("~/scripts/prism.js")
    <script>
        SyntaxHighlighter.all();
    </script>
}